$font-color: #f3f3f3;
$primary-color: rgb(68, 139, 226);
$background-color: #1a202c;
$border: 2px solid $primary-color;
$padding: 0.25rem;

.primary {
  margin: 0.1rem;
  padding: $padding;
  border: $border;
  color: $primary-color;
  background-color: $background-color;
  border-radius: 4px;
}

.secondary {
  margin: 0.1rem;
  border: $border;
  padding: $padding;
  background-color: $primary-color;
  color: $background-color;
  border-radius: 4px;
}
